@tailwind base;
@tailwind components;
@tailwind utilities;

/* Can define base styles here for quick-n-dirty */
* {
  font-family: 'Lato';
}

#logo {
  font-family: 'Tenor Sans';
  text-transform: uppercase;
  font-size: 2.5em;
  font-weight: 900;
  letter-spacing: 1px;
}

#smallLogo {
  font-family: 'Tenor Sans';
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: 900;
  letter-spacing: 1px;
}

#tenor {
  font-family: 'Tenor Sans';
}

h1 {
  @apply text-2xl md:text-3xl lg:text-5xl  text-left font-bold tracking-wide leading-loose;
}

h2 {
  @apply text-xl md:text-2xl lg:text-4xl font-bold tracking-wide leading-loose;
}

h4 {
  @apply text-base md:text-base lg:text-lg xl:text-xl tracking-wide leading-normal;
}

.largeButton {
  @apply bg-gradient-to-r from-purple-600 via-indigo-600 to-blue-600 text-white font-semibold uppercase tracking-widest text-base py-4 px-6 rounded-lg;
}

button {
  @apply text-lg tracking-wide;
}

.navItem {
  @apply flex items-center mt-5 py-2 px-4 text-white  w-full;
}

/* Task Component */

.task-btn {
  @apply rounded text-sm border border-gray-600 px-2;
}
